git+https://github.com/DCMLab/dimcat.git@datatypes
importlib-metadata~=6.0.0
jupyter[dev]~=1.0.0
ms3~=1.2.2
myst-nb[dev]~=0.17.1
pytest-cov[dev]~=4.0.0
pytest[dev]~=7.1.2
seaborn~=0.12.2
setuptools[dev]
sphinx[dev]~=5.3.0
